*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background: white;
	color: #000;
	line-height: 1.5;
	font-size: 1.0256410256410258vw;
}

img {
	width: 100%;
	max-width: 9999em;
	object-fit: cover;
}

li {
	list-style: none;
}

a,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}

button {
	color: inherit;
	background-color: inherit;
	border: 0;
	cursor: pointer;
	display: flex;
	width: fit-content;
}

/* Max Font Size */
@media screen and (min-width: 1560px) {
	body {
		font-size: 16px;
	}
}

/* Min Font Size */
@media screen and (max-width: 1280px) {
	body {
		font-size: 13.128205128205131px;
	}
}
